* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

/* =================
   Typography 
   ================= */

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    margin: 0;
}
h1 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}
h2 {
    font-size: 1.3125rem;
    margin: 0;
}
h2 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0;
}
.top-text {
    font-size: 0.625rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    letter-spacing: 1px;
    order: -1;
    margin: 0 auto;
    border-top: 5px solid #F18119;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
    padding-top: 5px;
    width: 167px;
}
.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
    max-width: 215px;
    margin: 0 auto;
    line-height: 1.5;
}
strong {
    font-weight: 900;
}

/* =================
   Intro section 
   ================= */
.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

.intro {
    background-image: url("../images/ribs.jpg");
    background-color: #404040;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    padding: 0 .5em 2em;
    
}


/* =================
   main-content section 
   ================= */

.main-content {
    padding: 2em 1em;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

/* =================
   forms 
   ================= */

.email-collector {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
}
input,
.btn { 
    width: 100%;
    margin-bottom: .75em;
    border-radius: 5px;
}
input {
    font-family: inherit;
    text-align: inherit;
    padding: .25em;
    border: 1px solid #404040;
    transform: scale(1);
    transition: transform 250ms;
}
input:focus {
    transform: scale(1.05);

}
.btn {
    display: inline-block;
    padding: 1em 1.5em;
    border: none;
    font-weight: 900;
    font-size: .5rem;
    cursor: pointer;
}
.btn-primary {
    background-image: linear-gradient(to left, #FF713B, #FFA51D);
    color: white;
    transform: scale(1);
    transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.05);
}
    
/* =================
    media queries 
    ================= */

@media (min-width: 600px) {
    body {
        font-size: 1.125rem;
    }
    .container-intro {
        height: 100%;
    }
    h1 {
        font-size: 3.5rem;
    }
    h1 + p,
    h2 {
        font-size: 1.75rem;
    }
    main {
        display: flex;
    }
    .intro, 
    .main-content {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-height: 100vh;
    }
    
    .main-content {
        justify-content: center;
    }
}